.main {
    width: 1200px;
    height: auto;
    background-color: antiquewhite;
    /* float: left; */
    margin-right: 20px;
}

.picture-weather {
    /* background-image: url(/assets/img/back.jpg); */
    /* width: 1200px;
    height: 1200px; */
    background-size: cover; /* чтобы картинка полностью заполняла div */
  background-position: center;
  position: absolute;
  overflow: hidden;
  
}

#targetDiv {
    height: 1200px;
    width: 1200px;
    object-fit: cover;
}



.picture-logo {
    /* background-image: url(/assets/img/back-logo.png); */
    width: 1200px;
    height: 1200px;
    z-index: 2;
    position: relative;
}

#top-box {
    width: 1098px;
    height: 250x;
    
    margin-left: 52px;
    
    display: flex;
    justify-content: space-between;
}

#name {
    width: 1098px;
    height: 250px;
    background-color: white;
    
}



#text-name {
    font-family: 'Golos-text-bold', sans-serif;
    color: #08144C;
    font-size: 60px;
    margin-left: 30px;
    margin-top: 25px;
    margin-bottom: 0;
}

#line {
    font-family: 'Golos-text-bold', sans-serif;
    color: #08144C;
    font-size: 50px;
    margin-left: 30px;
    margin-top: -40px;
}

#text-post {
    font-family: 'Golos-text-demibold', sans-serif;
    color: #08144C;
    font-size: 35px;
    margin-left: 30px;
    margin-top: -35px;
}

#bottom-box {
    width: 1098px;
    height: 690px;
    background-color: #08144C;
    margin-top: 18px;
    margin-left: 52px;
    padding-top: 80px;
}

#bottom-text {
    color: white;
    font-family: 'Golos-text-medium', sans-serif;
    font-size: 48px;
    
}

#bottom-text-box {
    margin-left: 53px;
    height: 551px;
    width: 955px;
    display: flex;
    align-items: center;
    overflow: hidden;
}

#quote-top {
    position: absolute;    
    top: 225px;
    left: 70px;
    transform: rotate(180deg);
    
}

#quote-bottom {
    position: absolute;
    top: 975px;
    left: 990px;
}

#text-post {
    max-width: 1040px;
}

