.main {
    width: 1920px;
    height: auto;
    background-color: antiquewhite;
    /* float: left; */
    margin-right: 20px;
}

.picture-cover {
    /* background-image: url(/assets/img/back.jpg); */
    width: 1920px;
    height: 1080px;
    background-size: cover; /* чтобы картинка полностью заполняла div */
  background-position: center;
  position: relative;
  overflow: hidden;
}

/* #source {
    
} */

.frame {
    
    width: 1920px;
    height: 1080px;
    z-index: 2;
    position: relative;
    font-family: 'Golos-text-bold', sans-serif;
    color: white;
    font-size: 110px;
}

#text-box {
    width: 1720px;
    height: 400px;
    margin-top: 600px;
    margin-left: 100px;
    
    position: relative;
    vertical-align: bottom;
    
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.highlight-text {
    color: white;
    font-weight: bold;
    /* background-color: #FFD700;  */
    padding: 3px 20px;
    margin-right: 10px; /* добавляем отступ справа */
}

#subtitle-text {
    align-self: flex-end;
    flex: 1; /* задаем гибкую ширину для авто-размещения (flexbox) */
}

.checkbox {
    width: 20px;
    height: 20px;
    margin-top: 20px;
    
}

.new-color {
    position: relative;
}

#plaha-top {
    position: absolute;
    height: 90px;
    /* width: 800px; */
    background-color: blue;
    z-index: -1;
    top: 31px;
    left: 20px;
    display: block;
}

#plaha-medium {
    position: absolute;
    height: 90px;
    /* width: 800px; */
    background-color: blue;
    z-index: -1;
    top: 163px;
    left: 20px;
    display: block;
}
#plaha-bottom {
    position: absolute;
    height: 90px;
    /* width: 1500px; */
    background-color: blue;
    z-index: -1;
    top: 295px;
    left: 20px;
    display: block;
}


