.main {
    width: 1500px;
    height: auto;
    background-color: antiquewhite;
    /* float: left; */
    margin-right: 20px;
}

.picture-cover {
    /* background-image: url(/assets/img/back.jpg); */
    width: 1500px;
    height: 843px;
    background-size: cover; /* чтобы картинка полностью заполняла div */
  background-position: center;
  position: relative;
  overflow: hidden;
}

/* #source {
    
} */

.frame {
    
    width: 1500px;
    height: 843px;
    z-index: 2;
    position: relative;
    font-family: 'Golos-text-bold', sans-serif;
    color: white;
    font-size: 46px;
}

#text-box {
    width: 1720px;
    height: 200px;
    margin-top: 596px;
    margin-left: 150px;
    
    position: relative;
    
    
    
}


#id {
    
    
    font-family: 'Golos-text-bold', sans-serif;
    /* color: white; */
    font-size: 46px;
    background: linear-gradient(to right, #FF8A35 0%, #1941FF 49%, #0F2799 100%);
}

#text {
    color: #0F2799;
}