.main {
    width: 1200px;
    height: auto;
    /* background-color: antiquewhite; */
    /* float: left; */
    margin-right: 20px;
}

.picture-weather {
    /* background-image: url(/assets/img/back.jpg); */
    /* width: 1200px;
    height: 1200px; */
    background-size: cover; /* чтобы картинка полностью заполняла div */
  background-position: center;
  position: relative;
  overflow: hidden;
  
}

#targetDiv {
    height: 1200px;
    width: 1200px;
    object-fit: cover;
}

.picture-logo {
    background-image: url(/assets/img/back-logo-morning.png);
    width: 1200px;
    height: 1200px;
    z-index: 2;
    position: relative;
    /* background-color: white;
    opacity: 50%; */
}

#time-box {
    font-family: 'Golos-text-demibold', sans-serif;
    font-size: 200px;
    color: white;
    text-shadow: 2px 2px 27px rgba(0, 0, 0, 0.5);
    text-align: center;
    padding-top: 67px;
    letter-spacing: -5px;
    
}

#date-box {
    font-family: 'Golos-text-demibold', sans-serif;
    font-size: 40px;
    color: white;
    text-shadow: 2px 2px 27px rgba(0, 0, 0, 0.5);
    text-align: center;
    margin-top: -20px;
    letter-spacing: 1px;
}

#for-notif {
    width: 1200px;
    height: 684px;
    background-color: white;
    opacity: 80%;
    /* align-content: end; */
    position: relative;
    
}

#notif {
    width: 863px;
    height: auto;
    /* background-color: black; */
    position: absolute;
    bottom: 186px;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    padding: 50px 27px 50px 27px;
    display: flex;
    justify-content: space-between;
    /* backdrop-filter: blur(30px); */
    border-radius: 70px;
    backdrop-filter: blur(30px);
    /* filter: blur(5px); */
}

#for-logo-box {
    height: auto;
    width: auto;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo-box {
    width: 127px;
    height: 127px;
    border-radius: 40px;
    
    
    
}

#logo-box img{
    width: 127px;
    height: 127px;
    border-radius: 40px;
}

#text-box {
    width: 690px;
}

#name {
    font-family: 'Golos-text-demibold', sans-serif;
    font-size: 36px;
    color: white;
}

#text {
    font-family: 'Golos-text-regular', sans-serif;
    font-size: 36px;
    color: white;
}

#author {
    font-family: 'Golos-text-regular', sans-serif;
    font-size: 36px;
    color: white;
    opacity: 50%;
    position: absolute;
    bottom: 25px;
    left: 50px;
}




